.tittle-Filter{
    background-color: var(--color-filter);
}
.tittle-Essay{
    background-color: var(--color-essay);
}
.tittle-Ranking{
    background-color: var(--color-ranking);
}
.tittle-Home{
    background-color: var(--color-home);
}
.tittle-Question{
    background-color: var(--color-question);
}
.tittle-Profile{
    background-color: var(--color-profile);
}

.tittle{
    color: black;
    border-radius: var(--main-border-radius);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
    display: flex; 
    align-items: center;
}

.tittle-acessory-component{
    padding: var(--main-padding);
    height: 100%;
}