.filter-container-select{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.filter-container-select > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-select-label{
    font-size: 1.3rem;
    font-weight: bold;
}

select{
    padding: 0.5rem;
    border-radius: var(--secondary-border-radius);
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: var(--input-background-color);
}

